@media (max-width: 600px) {
    body {
        font-size: 0.7em;
    }
}

.wrapper {
    max-width: 700px;
    width: 80%; /* desired width */
    position: relative;
}

.wrapper:before {
    content:'';
    display: block;
    padding-bottom: 66%; /*relative height */
}

.content {
    position: absolute;
    border: solid 1px black;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    padding: 30px;

    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* universal styling */
#startscreen ul {
    list-style-type: decimal;
}

#startscreen h1 {
    color: rgb(158,97,56);
    font-family: "Goblin One", Serif;

}

#game p, #game ol, #game ul, #game h2 {
    color: white;
    font-family: 'Press Start 2P', monospace;
}

#game ul {
    list-style-type: square;
}

#game ol {
    margin-left: 30px;
}

#game > div {
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
}

#game p {
    margin-top: 5px; margin-bottom: 5px;
}
