@media (max-width: 600px) {
    #game {
        font-size: 0.5em;
    }
}

.wrapper {
    max-width: 700px;
    width: 80%; /* desired width */
    position: relative;
}

.wrapper:before {
    content:'';
    display: block;
    padding-bottom: 66%; /*relative height */
}

.content {
    position: absolute;
    border: solid 1px black;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    padding: 30px;

    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* universal styling */

#game h1 {
    color: rgb(255,200,170);
    font-family: "Rye", Serif;
    font-weight: lighter;
}

.white_black {
    color: white;
    font-family: 'Press Start 2P', monospace;
}

#game ul {
    list-style-type: square;
}

#game ol {
    list-style-type: decimal;
    margin-left: 30px;
}

#game div.centered_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#game p {
    margin-top: 5px; margin-bottom: 5px;
}

#game .prompt {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0; right: 0;
}

#matt_intro {
    display: flex;
}

#matt_img {
    background-image: url("./img/mal.png");
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1;
    image-rendering: pixelated;
    height: 75%;
}

#matt_img + div {
    flex: 3;
}

#mattstore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mattstore > div:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
    width:100%;
}

#journey #animation {
    background-color: black;
    
    background-image: url('./img/bg_grass.png');
    background-repeat: no-repeat;
    background-position-y: top;
    height: 30%;
}

#journey div {
    width: 100%;
}

#journey #ground {
    background-color: #04B600;
    height: 20%;
}

#journey #status {
    background-color: white;
    text-align: center;
    color: black;
    height: 50%;
    list-style-type: none;
}

#journey #status ul {
    list-style-type: none;
}