
.wrapper {
    max-width: 700px;
    width: 80%; /* desired width */
    position: relative;
}

.wrapper:before {
    content:'';
    display: block;
    padding-bottom: 66%; /*relative height */
}

.content {
    position: absolute;
    border: solid 1px black;
    top: 0px; bottom: 0px; right: 0px; left: 0px;

    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* title screen */
#title ul {
    list-style-type: decimal;
}
#title div {
    color: white;
    font-family: 'Press Start 2P', monospace;
    font-size: 0.8em;
}
#title {
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
}
#title h1 {
    color: rgb(255,199,166);
    font-family: Georgia, Serif;
    font-size: 2.7em;
}
