@media (max-width: 600px) {
    #game { font-size: 0.5em; }
}

.ratio-wrapper { position: relative; }
.ratio-content {
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
}
.ratio-wrapper:before {
    content: '';
    display: block;
}

.ratio3-2:before { padding-top: 66%; }
.ratio5-4:before { padding-top: 80%; }

main > div {
    max-width: 700px;
    width: 80%;
}
#game { padding: 2em; background-color: black; }

#game  > div {
    width: 100%; height: 100%;
    image-rendering: pixelated;
}

/* universal styling */

#game h1 {
    color: rgb(255,200,170);
    font-family: "Rye", Serif;
    font-weight: lighter;
}

.white_black {
    color: white;
    font-family: 'Press Start 2P', monospace;
}

#game ul {
    list-style-type: square;
    margin-left: 0px;
    padding-left: 1.5em;
}

#game ol {
    list-style-type: decimal;
    margin-left: 13%;
    padding-left: 0px;
}

#game div.centered_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#game p {
    margin-top: 5px; margin-bottom: 5px;
}

#game .prompt {
    position: absolute;
    bottom: 5%;
    text-align: center;
    left: 0; right: 0;
    font-family: 'Press Start 2P', monospace;
    color: white;
}

#matt_intro {
    display: flex;
}

#matt_img {
    background-image: url("./img/mal.png");
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1;
    height: 75%;
    align-self: center;
}

#matt_img + div {
    flex: 3;
}

#mattstore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mattstore > div:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
    width:100%;
}


#alertBox {
	
	position : absolute;
	left:0px;
	top:0px;
	font-family: 'Press Start 2P', monospace;
	word-wrap: break-word;
	z-index : 1;
	width : 100%;
	display : block;
	border: 10px solid white;
	border-radius : 10px;
	color : white;
	background-color : black;

#journey #animation {
    background-color: black;
    height: 30%;
    position: relative;
}

#bg {
    top: 0px;
    width: 100%;
}

#journey div {
    width: 100%;
}

#journey #ground {
    background-color: #04B600;
    height: 20%;
}

#journey #status {
    background-color: white;
    text-align: center;
    color: black;
    height: 50%;
    list-style-type: none;
}

#journey #status ul {
    list-style-type: none;
}


#oxen {
    position: absolute;
    right: 7%;
    bottom: 0px;
    height: 55%;
}

