@media (max-width: 600px) {
    #game { font-size: 0.5em; }
}

.ratio-wrapper { position: relative; }
.ratio-content {
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    width: 100%; height: 100%;
    box-sizing: border-box;
}
.ratio-wrapper:before {
    content: '';
    display: block;
}

.ratio3-2:before { padding-top: 66%; }
.ratio5-4:before { padding-top: 80%; }

main > div {
    max-width: 700px;
    width: 80%;
}
#game { padding: 2em; background-color: black; }

#game > div {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

/* universal styling */

#game h1 {
    color: rgb(255,200,170);
    font-family: "Rye", Serif;
    font-weight: lighter;
}

.white_black {
    color: white;
    font-family: 'Press Start 2P', monospace;
}

#game ul {
    margin-left: 0px;
    padding-left: 1.5em;
}

#game ol {
    list-style-type: decimal;
    margin-left: 13%;
    padding-left: 0px;
}

#game div.centered_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#game p {
    margin-top: 5px; margin-bottom: 5px;
}

#game .prompt {
    position: absolute;
    bottom: 5%;
    text-align: center;
    left: 0; right: 0;
    font-family: 'Press Start 2P', monospace;
    color: white;
}

#matt_intro {
    display: flex;
}

#matt_img {
    background-image: url("./img/mal.png");
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1;
    height: 75%;
    align-self: center;
}

#matt_img + div {
    flex: 3;
}

#mattstore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mattstore > div:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
    width:100%;
}

#mattstore ol span, #check_supplies ul span {
    float: right; margin-left: 2em;
}

#AlertBox {
	position: relative;
	word-wrap: break-word;
	z-index : 1;
	width: 60%;
	top: -65%;
	padding: 0.2em;
	margin: auto;
	border: 0.6em solid white;
	border-radius : 10px;
	background-color : black;
}

#DialogBox {
	position: relative;
    word-wrap: break-word;
    z-index: 1;
    height: 95%;
    width: 95%;
    top: -100%;
    padding: 0.2em;
    margin: auto;
    border: 0.6em solid white;
    border-radius: 10px;
    background-color: black;
}

#journey #animation {
    background-color: black;
    height: 30%;
    position: relative;
}

#bg {
    top: 0px;
    width: 100%;
}

#journey div {
    width: 100%;
}

#journey #ground {
    background-color: #04B600;
    height: 20%;
}

#journey #status {
    background-color: white;
    text-align: center;
    color: black;
    height: 50%;
}

ul.plain_list { list-style-type: none; }


#oxen {
    position: absolute;
    right: 7%;
    bottom: 0px;
    height: 55%;
}


#river_crossing > div {
    width: 50%;
    margin-top: 11%;
}

#map{
  background-image: url("img/map.png");
}
